<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <link rel="stylesheet" href="../bootstrap.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"></th:block>
    <div class="jumbotron">
        <h1>Welcome to car dealer!</h1>
        <h2>Spring Essentials Exercise</h2>
        <h4>Query 6. Sales with Applied Discount Task</h4>
        <hr />
        <h5 th:text="${sale.car.make}"></h5>
        <h5 th:text="${sale.car.model}"></h5>
        <h5 th:text="${sale.customer.name}"></h5>
        <a class="btn bg-white" th:href="@{/sales}">Back to Sales</a>
        <a class="btn bg-white" th:href="@{/}">Back to Home</a>
    </div>
</body>
</html>