<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <link rel="stylesheet" href="../bootstrap.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="jumbotron">
    <h1>Welcome to car dealer!</h1>
    <h2>Spring Essentials Exercise</h2>
    <h4>Query 3. Filter Suppliers Task</h4>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Number of Parts</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="supplier : ${suppliers}">
            <tr>
                <td th:text="${supplier.id}"></td>
                <td th:text="${supplier.name}"></td>
                <td th:text="${supplier.numberOfParts}"></td>
            </tr>
        </th:block>

        </tbody>
    </table>
    <a class="btn bg-white" th:href="@{/suppliers}">Back to suppliers</a>
    <a class="btn bg-white" th:href="@{/}">Back to home</a>
</div>
</body>
</html>