<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <link rel="stylesheet" href="../../bootstrap.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="jumbotron">
    <h1>Welcome to car dealer!</h1>
    <h2>Spring Essentials Exercise</h2>
    <h4>Task 8. Delete Parts</h4>
    <hr/>
    <form method="post" th:action="@{/parts/delete/{id}(id=${part.id})}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" th:value="${part.name}" disabled>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" step="any" class="form-control" id="price" placeholder="Enter price" name="price" th:value="${part.price}" disabled>
        </div>
        <button type="submit" class="btn btn-danger">Delete Part</button>
    </form>
</div>
</body>
</html>