<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
    <th:block th:insert="~{fragments/navbar}"></th:block>
    <div class="jumbotron">
        <h1>Car Dealer</h1>
        <h2>Spring Essentials Exercise</h2>
        <h4>Parts</h4>
        <hr />
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="part : ${parts}">
                <tr>
                    <td th:text="${part.name}"></td>
                    <td th:text="${part.price}"></td>
                    <td><a class="btn btn-danger" th:href="@{/parts/delete/{id}(id=${part.id})}">Delete</a></td>
                    <td><a class="btn " style="background-color: #856404" th:href="@{/parts/edit/{id}(id=${part.id})}">Edit</a></td>
                </tr>
            </th:block>

            </tbody>
        </table>
        <a class="btn bg-white" th:href="@{/}">Back to Home</a>
    </div>
</body>
</html>